.bodyy {
    background-image: url("assets/image/fondooo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* Contenedor de las cartas */
.cartas {
    display: flex;
    justify-content: center;
    gap: 100px; /* Espacio entre las cartas */
    flex-wrap: wrap; /* Asegura que las cartas se acomoden en varias filas si es necesario */
    margin-top: 100px;

    margin-right: 100px;
    margin-left: 100px;
  }

  /* Estilo de cada columna */
.col {
    display: flex;
    justify-content: center; /* Centra las cartas dentro de la columna */
}
  
  /* Estilo de cada carta */
  .card {
    width: 18rem; /* Ajusta el tamaño de la carta */
    max-width: 20rem; /* Limita el tamaño máximo */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Añade sombra a las cartas */
    transition: transform 0.2s ease; /* Suaviza la transición */
  }
  
  .card:hover {
    transform: translateY(-20px); /* Mueve la carta ligeramente hacia arriba cuando pasa el ratón */
  }
  
  /* Ajuste de imagen dentro de la carta */
  .card-img-top {
    height: 200px;
    object-fit: cover; /* Hace que la imagen cubra el área sin deformarse */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .navbar.navbar-dark.bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Fondo negro con opacidad de 70% */
}

  