.bodyy {
    background-image: url("assets/image/fondooo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex; /* Activamos Flexbox */
    justify-content: center; /* Centrado horizontal */
    align-items: center; /* Centrado vertical */
    height: 100vh; /* Asegura que el body ocupe toda la altura de la ventana */
    margin: 0; /* Eliminar márgenes por defecto */
}

.navbar.navbar-dark.bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important; /* Fondo negro con opacidad de 70% */
}

.form-container {
    display: flex;
    flex-direction: column; /* Para que el formulario y el botón se apilen verticalmente */
    justify-content: center;
    align-items: center; /* Centra los elementos dentro de este contenedor */
    text-align: center;
}

.formulario {
    padding: 40px; /* Ajustamos el padding */
    width: 750px; /* Ancho fijo del formulario */
    border-radius: 10px; /* Bordes redondeados */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); /* Sombra sutil para darle profundidad */
}

.form-control {
    margin: 35px 0; /* Espaciado entre los inputs */
}

.btn-success {
    margin: 25px; /* Ajuste de margen para separar el botón del formulario */
}

