.bodyy {
    background-image: url("assets/image/fondooo.png");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex; 
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin: 0; 
}

.navbar.navbar-dark.bg-dark {
    background-color: rgba(0, 0, 0, 0.5) !important; 
}

.form-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    text-align: center;
}

.formulario {
    padding: 40px;
    width: 750px; 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.9); 
}

.form-control {
    margin: 35px 0;
}

.btn-success {
    margin: 25px;
}

